%table.table.table-striped
  %thead
    %tr
      %th 企業一覧
  %tbody
    %tr
      %td
        - if @stocks.length > 0
          - @stocks.each do |line|
            - code, name = line.strip.split(",")
            - s = "#{code} #{name}"
            %a{:href => "/stock/#{code}"}
              =h s
