%section{:id => "footer"}
  .container
    %footer{:class=>"footer"}
      %hr
      %p{:class=>"pull-right pager"}
        %a{:href=> "/"}
          &uarr; Top
      %p
        = render(:haml, :'_links')
