%a{:href => "https://www.sbisec.co.jp/ETGate", :target => "_blank"}
  =h "SBI"
%a{:href => "https://sec-sso.click-sec.com/loginweb/", :target => "_blank"}
  =h "GMO"
%a{:href => "https://www.rakuten-sec.co.jp/", :target => "_blank"}
  =h "楽天証券"
%a{:href => "http://jp.reuters.com/investing", :target => "_blank"}
  =h "ロイター"
%a{:href => "http://shikiho.jp/tk/market/", :target => "_blank"}
  =h "四季報"
%a{:href => "https://www.traders.co.jp/domestic_stocks/domestic_stocks_top.asp", :target => "_blank"}
  =h "Trader's"


