%a{:href => "https://docs.google.com/spreadsheets/u/0/", :target => "_blank"}
  =h "表計算"
%a{:href => "http://direct.bk.mufg.jp/", :target => "_blank"}
  =h "UFJ"
%a{:href => "https://www.sbisec.co.jp/ETGate", :target => "_blank"}
  =h "GMO"
%a{:href => "https://www.rakuten-sec.co.jp/", :target => "_blank"}
  =h "楽天"
%a{:href => "https://www.k-zone.co.jp/td", :target => "_blank"}
  =h "トレダビ"
%a{:href => "http://jp.reuters.com/investing", :target => "_blank"}
  =h "ロイター"
%a{:href => "http://shikiho.jp/tk/market/", :target => "_blank"}
  =h "四季報"
%a{:href => "https://www.traders.co.jp/domestic_stocks/domestic_stocks_top.asp", :target => "_blank"}
  =h "Trader's"
%a{:href => "http://www.quick.co.jp/page/top.html", :target => "_blank"}
  =h "QUICK"
%a{:href => "http://kabukei.jp/", :target => "_blank"}
  =h "株経"
%a{:href => "http://www.nikkei.com/video/", :target => "_blank"}
  =h "映像"
%a{:href => "http://www.tv-tokyo.co.jp/mv/wbs/newsl/", :target => "_blank"}
  =h "WBS"
%a{:href => "http://www.daiwatv.jp/contents/strategy/day/", :target => "_blank"}
  =h "大和"
%a{:href => "http://www.tv-tokyo.co.jp/mv/nms/market/", :target => "_blank"}
  =h "モーサテ"
%a{:href => "http://indexes.nikkei.co.jp/nkave/index/profile?cid=3&idx=nk225vi", :target => "_blank"}
  =h "VIX"
%a{:href => "http://nikkei225jp.com/chart/", :target => "_blank"}
  =h "指数"
%a{:href => "http://nikkei225jp.com/cme/", :target => "_blank"}
  =h "先物"
%a{:href => "http://sekai-kabuka.com/", :target => "_blank"}
  =h "世界"
