%a{:href => "https://docs.google.com/spreadsheets/u/0/", :target => "_blank"}
  =h "表計算"
%a{:href => "http://direct.bk.mufg.jp/", :target => "_blank"}
  =h "UFJ"
%a{:href => "https://www.mizuho-sc.com", :target => "_blank"}
  =h "みずほ"
%a{:href => "https://www.rakuten-sec.co.jp/", :target => "_blank"}
  =h "楽天"
%a{:href => "https://sec-sso.click-sec.com/loginweb/", :target => "_blank"}
  =h "GMO"
%a{:href => "https://www.jis-t.ne.jp/dczws000/o3w", :target => "_blank"}
  =h "年金"
%a{:href => "https://www.k-zone.co.jp/td", :target => "_blank"}
  =h "トレダビ"
%a{:href => "https://www.bloomberg.co.jp/markets/stocks", :target => "_blank"}
  =h "Bloomberg"
%a{:href => "http://www.nikkei.com/video/", :target => "_blank"}
  =h "日経"
%a{:href => "http://www.daiwatv.jp/contents/strategy/day/", :target => "_blank"}
  =h "ダイワ"
%a{:href => "http://www.tv-tokyo.co.jp/mv/nms/market/", :target => "_blank"}
  =h "モーサテ"
%a{:href => "http://indexes.nikkei.co.jp/nkave/index/profile?cid=3&idx=nk225vi", :target => "_blank"}
  =h "VI"
%a{:href => "https://www.77bank.co.jp/kawase/cash.html", :target => "_blank"}
  =h "為替"
%a{:href => "http://nikkei225jp.com/cme/", :target => "_blank"}
  =h "先物"
%a{:href => "http://sekai-kabuka.com/", :target => "_blank"}
  =h "世界"
