%table.table.table-striped
  %thead
    %tr
      %th DATE
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/rsi.html", :target => "_blank"}
          =h "RSI9"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/rsi.html", :target => "_blank"}
          =h "RSI14"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/mfi.html", :target => "_blank"}
          =h "MFI"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/roc.html", :target => "_blank"}
          =h "ROC"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/cci.html", :target => "_blank"}
          =h "CCI"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/kyukyoku.html", :target => "_blank"}
          =h "ULT"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/stokyasu.html", :target => "_blank"}
          =h "SLOWK"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/stokyasu.html", :target => "_blank"}
          =h "SLOWD"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/stokyasu.html", :target => "_blank"}
          =h "FASTK"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/stokyasu.html", :target => "_blank"}
          =h "FASTD"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/macd.html", :target => "_blank"}
          =h "MACD"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/macd.html", :target => "_blank"}
          =h "SIG"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/macd.html", :target => "_blank"}
          =h "HIST"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/momen.html", :target => "_blank"}
          =h "MOM10"
      %th
        %a{:href => "http://www.kabuciao.com/tech/oscillator/momen.html", :target => "_blank"}
          =h "MOM25"
      %th
        %a{:href => "http://traders.com/Documentation/FEEDbk_docs/2006/05/TradersTips/TradersTips.html", :target => "_blank"}
          =h "NATR"
      %th RET
  %tbody
    - @data.last(3).each do |row|
      %tr
        %td
          =h row[:date]
        %td
          =h row[:rsi9].to_f.round(2)
        %td
          =h row[:rsi14].to_f.round(2)
        %td
          =h row[:mfi].to_f.round(2)
        %td
          =h row[:roc].to_f.round(2)
        %td
          =h row[:cci].to_f.round(2)
        %td
          =h row[:ultosc].to_f.round(2)
        %td
          =h row[:slowk].to_f.round(2)
        %td
          =h row[:slowd].to_f.round(2)
        %td
          =h row[:fastk].to_f.round(2)
        %td
          =h row[:fastd].to_f.round(2)
        %td
          =h row[:macd].to_f.round(2)
        %td
          =h row[:macdsignal].to_f.round(2)
        %td
          =h row[:macdhist].to_f.round(2)
        %td
          =h row[:mom10].to_f.round(2)
        %td
          =h row[:mom25].to_f.round(2)
        %td
          =h row[:natr].to_f.round(2)
        %td
          =h row[:ret_index].to_f.round(2)
