%table.table.table-striped
  %thead
    %tr
      %th 銘柄
      %th 企業名
      %th RSI9
      %th 終値
      %th 変化
      %th 比率
  %tbody
    - if @screening_rsi9.length > 0
      - @screening_rsi9.each do |line|
        - code, corr, open, high, low, close, diff, ratio, rsi9, name = line.strip.split("\t")
        - unless code == "Code"
          %tr
            %td
              %a{:href => "#{@root}stock/#{code}"}
                =h code
            %td
              %a{:href => "#{@root}stock/#{code}"}
                =h name
            %td
              =h rsi9
            %td
              =h number_with_delimiter(close)
            %td
              =h number_with_delimiter(diff)
            %td
              =h (ratio + "%")
