%table.table.table-striped
  %thead
    %tr
      %th 銘柄
      %th 企業名
      %th 相関
      %th 終値
      %th MOM10
      %th 比率
  %tbody
    - if @summary10.length > 0
      - @summary10.each do |line|
        - code, corr, open, high, low, close, diff, ratio, trend, predict, name = line.strip.split("\t")
        - unless code == "Code"
          %tr
            %td
              %a{:href => "#{@root}stock/#{code}"}
                =h code
            %td
              %a{:href => "#{@root}stock/#{code}"}
                =h name
            %td
              =h corr
            %td
              =h number_with_delimiter(close)
            %td
              =h diff
            %td
              =h (ratio + "%")
