- row = @data.last

%table.table.table-striped
  %thead
    %tr
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "SMA5"
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "SMA25"
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "SMA75"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/bollin.html", :target => "_blank"}
          =h "UPPER"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/bollin.html", :target => "_blank"}
          =h "MIDDLE"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/bollin.html", :target => "_blank"}
          =h "LOWER"
  %tbody
    %tr
      %td
        =h number_with_delimiter(row[:sma5].to_i)
      %td
        =h number_with_delimiter(row[:sma25].to_i)
      %td
        =h number_with_delimiter(row[:sma75].to_i)
      %td
        =h number_with_delimiter(row[:upperband].to_i)
      %td
        =h number_with_delimiter(row[:middleband].to_i)
      %td
        =h number_with_delimiter(row[:lowerband].to_i)
