- row = @data.last

%table.table.table-striped
  %thead
    %tr
      %th SMA5
      %th SMA25
      %th SMA75
      %th UPPER
      %th MIDDLE
      %th LOWER
  %tbody
    %tr
      %td
        =h row[:sma5].to_f.round(2)
      %td
        =h row[:sma25].to_f.round(2)
      %td
        =h row[:sma75].to_f.round(2)
      %td
        =h row[:upperband].to_f.round(2)
      %td
        =h row[:middleband].to_f.round(2)
      %td
        =h row[:lowerband].to_f.round(2)
