%table.table.table-striped
  %thead
    %tr
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "MA5"
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "MA25"
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "MA50"
      %th
        %a{:href => "http://www.kabuciao.com/tech/ido.html", :target => "_blank"}
          =h "MA75"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/bollin.html", :target => "_blank"}
          =h "UPPER"
      %th
        %a{:href => "http://www.kabuciao.com/tech/trend/bollin.html", :target => "_blank"}
          =h "LOWER"
      %th
        %a{:href => "https://www.rakuten-sec.co.jp/web/fop/futures/chart_guide/09.html", :target => "_blank"}
          =h "SAR"
  %tbody
    - @data.last(1).each do |row|
      %tr
        %td
          =h number_with_delimiter(row[:ewma5].to_i)
        %td
          =h number_with_delimiter(row[:ewma25].to_i)
        %td
          =h number_with_delimiter(row[:ewma50].to_i)
        %td
          =h number_with_delimiter(row[:ewma75].to_i)
        %td
          =h number_with_delimiter(row[:upperband].to_i)
        %td
          =h number_with_delimiter(row[:lowerband].to_i)
        %td
          =h number_with_delimiter(row[:sar].to_i)
