%section{:id => "main"}
- if @data.length > 0
  .container
    .content
      .row
        .span8
          = render(:haml, :'_chart')
          = render(:haml, :'_ti')

        .span4
          = render(:haml, :'_series')

= render(:haml, :'_footer')
