%section{:id => "main"}
- if @data.length > 0
  .container
    .content
      .row
        .span4
          = render(:haml, :'_series_all')
        .span4
          = render(:haml, :'_trend_all')
        .span4
          = render(:haml, :'_osc_all')

= render(:haml, :'_footer')
